:root {
    --primary-container: #FFFFFF;
    --surface-color: #F5F7FB;
    --text-secondary-color: #5C5B5C;
    --text-color: #181818;
    --border-color: #E1E1E1;

    // GENERIC COLOR PALETTE!
    --generic-white: #FFFFFF;
    --generic-black: #000000;
    --primary-color: #9A79F5;
    --secondary-color: #242424;
    --tertiary-color: #ffffff;
  
    --primary-font: 'Archivo', sans-serif;
    --generic-font: 'Archivo', sans-serif;
}