/* CUSTOM CSS RESET */
html {
  height: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, a, address, cite, code, em, img, small, form, label, article, aside, canvas, header, nav, main, footer, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* ADD CUSTOM STYLES HERE */
a {
  cursor: pointer;
}
a:focus {
  border: 0;
  outline: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input, label, select, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
button:focus, input:focus, label:focus, select:focus, textarea:focus {
  border: none;
  outline: none;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  caret-color: var(--generic-black);
  -webkit-text-fill-color: var(--generic-black);
  -webkit-box-shadow: 0 0 0 40px var(--generic-white) inset !important;
}

.primary-container {
  background-color: var(--primary-container);
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

:root {
  --primary-container: #FFFFFF;
  --surface-color: #F5F7FB;
  --text-secondary-color: #5C5B5C;
  --text-color: #181818;
  --border-color: #E1E1E1;
  --generic-white: #FFFFFF;
  --generic-black: #000000;
  --primary-color: #9A79F5;
  --secondary-color: #242424;
  --tertiary-color: #ffffff;
  --primary-font: "Archivo", sans-serif;
  --generic-font: "Archivo", sans-serif;
}

/* Add generic styles here! */
/* CROSS BROWSER SCROLL BAR */
/* The emerging W3C standard that is currently Firefox-only */
*.no-scrollbar {
  scrollbar-width: none;
}
*.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}
*.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
*.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--generic-black) var(--generic-white);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--generic-white);
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--generic-black);
  border: 1px solid var(--generic-white);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--generic-white);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--generic-black);
  border: 1px solid var(--generic-white);
}

/* Generic body style */
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--generic-black);
  font-family: var(--generic-font);
  background-color: var(--generic-white);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 28px;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #30CFF3;
  background-color: #30CFF3;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

#sign-in-trigger-btn,
#sign-up-trigger-btn {
  margin-top: 18px;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.gap {
  width: 100%;
  height: 24px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.overlay {
  background: #30CFF3;
  background: -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background: -webkit-gradient(linear, left top, right top, from(#E091FF), to(#30CFF3));
  background: linear-gradient(to right, #E091FF, #30CFF3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}